In [1]:
#import libraries
import pandas as pd #data analysis and manipulation
import numpy as np #math manipulation if required
from scipy import stats #statistical tests

#for visuals
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
#load data
data = pd.read_csv('Clean file.csv')
data.head()

,Survived,Passenger class,Sex,Age,# Sibiling/Spouses Aboard,# Parents/Children Aboard,Fare,Embarked,Family size
0,0,3,male,22.0,1,0,7.25,Southhampton,1
1,1,1,female,38.0,1,0,71.28,Cherbourg,1
2,1,3,female,26.0,0,0,7.92,Southhampton,0
3,1,1,female,35.0,1,0,53.10,Southhampton,1
4,0,3,male,35.0,0,0,8.05,Southhampton,0

# Hypotheses from EDA

Since my target is Binomial, I'm going to see if there is significance there

Survival rates and Sex
- H0: There is no difference between survival rates of Male and Female
- Ha: The is a difference between survival rates for Male and Female

Survival rates and embarked sites
- H0: There is no difference between survival rates between embarked sites
- Ha: There is a difference between survival rates between embarked sites

Survial rates and Passenger Classes
- H0: There is no difference between survival rates of passengers in different classes
- Ha: There is a difference between survival rates of passengers in different classes

Fares and Survival
- H0: There is no difference between the avg far paid between survived and not
- Ha: There is a difference between the avg fare paid between survived and not

Age and Survival
- H0: There is no difference in the avg age of suvivors and perished
- Ha: There is a difference in the avg age of survivors and perished

In [4]:
#Chi square for survival and Sex
con_table = pd.crosstab(data['Survived'], data['Sex'])
stat, pvalue, _, _ = stats.chi2_contingency(con_table)

if pvalue < 0.05:
    print('Reject H0: There is significant difference between survival rates in Males and Female')
else:
    print("Fail to reject H0: No significant difference between survival rates in Males and Females")

Reject H0: There is significant difference between survival rates in Males and Female

In [5]:
#Chi square for survival and Embarked sites
con_table = pd.crosstab(data['Survived'], data['Embarked'])
stat, pvalue, _, _ = stats.chi2_contingency(con_table)

if pvalue < 0.05:
    print('Reject H0: There is significant difference between survival rates by embarked locations')
else:
    print("Fail to reject H0: No significant difference between survival rates by embarked locations")

Reject H0: There is significant difference between survival rates by embarked locations

In [6]:
#Chi square for survival and passenger class
con_table = pd.crosstab(data['Survived'], data['Passenger class'])
stat, pvalue, _, _ = stats.chi2_contingency(con_table)

if pvalue < 0.05:
    print('Reject H0: There is significant difference between survival rates by embarked locations')
else:
    print("Fail to reject H0: No significant difference between survival rates by embarked locations")

Reject H0: There is significant difference between survival rates by embarked locations

In [8]:
#mann whitney U test fares and survive
stat, pvalue = stats.mannwhitneyu(data['Fare'], data['Survived'])

if pvalue < 0.05:
    print('Reject H0: There is significant difference between the average fare paid and survival')
else:
    print("Fail to reject H0: No significant difference between the average fare paid and survival")

Reject H0: There is significant difference between the average fare paid and survival

In [9]:
#mann whitney U test Age and survive
stat, pvalue = stats.mannwhitneyu(data['Age'], data['Survived'])

if pvalue < 0.05:
    print('Reject H0: There is significant difference between the average Age and survival')
else:
    print("Fail to reject H0: No significant difference between the average Age and survival")

Reject H0: There is significant difference between the average Age and survival

In [10]:
#mann whitney U test avg family size and survive
stat, pvalue = stats.mannwhitneyu(data['Family size'], data['Survived'])

if pvalue < 0.05:
    print('Reject H0: There is significant difference between the average family size and survival')
else:
    print("Fail to reject H0: No significant difference between the average family size and survival")

Reject H0: There is significant difference between the average family size and survival

# Statistical Tests

## Parametric

Assumptions:
- Independence of Observations
- Homogeneity of Variance
- Normality of Data (or normal-ish)

### Regression

#### Simple Linear Regression

Questions: What is the impact of Predictor on Outcome varaible?

Predictor Variable = Continous

Outcome variable = Continous

#### Multiple Linear Regression

Question: What is the impact of Predictors on Outcome variable?

Predictor Variable = Continous (>=2)

Outcome variable = Continous

#### Logistic Regression

Question: What is the impact of Predictor on Binary outcome?

Predictor variable = Continous

Outcome variable = Binary

### Comparison

#### Paired t-test

Question: What is the effect of two different test prep programs on the average exam scores for students from the same class?

Predictor variable = 1 Categorical

Outcome variable = Quantitative (groups from same population)

#### Independent t-test

Question: What is the difference in average exam scores for students from two different schools?

Predictor = 1 categorical

Outcome = two Quantitative groups from different population

#### ANOVA

Question: What is the difference in average pain levels among post-surgical patients given three different painkillers?

Predictor = >=1 Categorical

Outcome = Quantitative or 1 Outcome

#### MANOVA

Question: What is the effect of flower species on petal length, petal width, and stem length?

Predictor = >=1 Categorical

Outcome = Quantitative or >= 2 outcome

### Correlation

#### Pearson's r

Question: how are two variable related?

Predictor and Outcome = Continous

## Non-parametric

Use if assumptions above are violated.

### Spearman's r

Replaces Pearson's r

Predictor variable = Quantitative

Outcome variable = Quantitative

In [11]:
#scipy.stats version, use if need to know pvalue do for each pair

stat, pvalue = stats.spearmanr(data['Age'], data['# Sibiling/Spouses Aboard'])
print(f"Age and # Sibiling/Spouses Aboard:\nStat: {stat:.5f},\npvalue: {pvalue:.5f}")

stat, pvalue = stats.spearmanr(data['Age'], data['# Parents/Children Aboard'])
print(f"Age and # Parents/Children Aboard:\nStat: {stat:.5f},\npvalue: {pvalue:.5f}")

stat, pvalue = stats.spearmanr(data['Age'], data['Fare'])
print(f"Age and Fare:\nStat: {stat:.5f},\npvalue: {pvalue:.5f}")

Age and # Sibiling/Spouses Aboard:
Stat: -0.14532,
pvalue: 0.00001
Age and # Parents/Children Aboard:
Stat: -0.21749,
pvalue: 0.00000
Age and Fare:
Stat: 0.12602,
pvalue: 0.00016

In [12]:
stat, pvalue = stats.spearmanr(data['# Sibiling/Spouses Aboard'], data['# Parents/Children Aboard'])
print(f"# Sibiling/Spouses Aboard and # Parents/Children Aboard:\nStat: {stat:.5f},\npvalue: {pvalue:.5f}")

stat, pvalue = stats.spearmanr(data['# Sibiling/Spouses Aboard'], data['Fare'])
print(f"# Sibiling/Spouses Aboard and Fare:\nStat: {stat:.5f},\npvalue: {pvalue:.5f}")

# Sibiling/Spouses Aboard and # Parents/Children Aboard:
Stat: 0.45001,
pvalue: 0.00000
# Sibiling/Spouses Aboard and Fare:
Stat: 0.44713,
pvalue: 0.00000

In [13]:
stat, pvalue = stats.spearmanr(data['# Parents/Children Aboard'], data['Fare'])
print(f"# Parents/Children Aboard and Fare:\nStat: {stat:.5f},\npvalue: {pvalue:.5f}")

# Parents/Children Aboard and Fare:
Stat: 0.41009,
pvalue: 0.00000

### Chi Square Test of Independence

Replaces Pearson's r

Predictor variable = Categorical

Outcome variable = Categorical

In [14]:


# survival and Embarked
con_table = pd.crosstab(data['Survived'], data['Embarked'])
stat, pvalue, _, _ = stats.chi2_contingency(con_table)
print(f"Survived and Embarked:\nstat: {stat},\npvalue: {pvalue}")

# survival and passenger class 
con_table = pd.crosstab(data['Survived'], data['Passenger class'])
stat, pvalue, _, _ = stats.chi2_contingency(con_table)
print(f"Survived and Passenger class:\nstat: {stat},\npvalue: {pvalue}")

Survived and Sex:
stat: 260.71702016732104,
pvalue: 1.1973570627755645e-58
Survived and Embarked:
stat: 25.964452881874784,
pvalue: 2.3008626481449577e-06
Survived and Passenger class:
stat: 102.88898875696056,
pvalue: 4.549251711298793e-23

In [15]:
#Sex and Embarked
con_table = pd.crosstab(data['Sex'], data['Embarked'])
stat, pvalue, _, _ = stats.chi2_contingency(con_table)
print(f"Sex and Embarked:\nstat: {stat},\npvalue: {pvalue}")

# Sex and Passenger class
con_table = pd.crosstab(data['Sex'], data['Passenger class'])
stat, pvalue, _, _ = stats.chi2_contingency(con_table)
print(f"Sex and Passenger class:\nstat: {stat},\npvalue: {pvalue}")

Sex and Embarked:
stat: 12.91702420065256,
pvalue: 0.00156712570238841
Sex and Passenger class:
stat: 16.971499095517114,
pvalue: 0.00020638864348233114

In [16]:
# Passenger class and embarked
con_table = pd.crosstab(data['Embarked'], data['Passenger class'])
stat, pvalue, _, _ = stats.chi2_contingency(con_table)
print(f"Embarked and Passenger class:\nstat: {stat},\npvalue: {pvalue}")

Embarked and Passenger class:
stat: 122.64116372971472,
pvalue: 1.4569383279917686e-25

It appears all the categorical features are dependent upon each other.

### Sign Test

Replaces One-sample t-test

Predictor variable = Categorical

Outcome variable = Quantitative

### Kruskal-Wallis H

Replaces ANOVA

Predictor variable = >=3 groups (categorical)

Outcome varaible = Quantitative

### ANOSIM

Replaces MANOVA

Predictor variable = >=3 categorical

Outcome variable = Quantitative (>=2)

### Wilcoxon Tank-Sum test

Replaces Independent t-test

Predictor variable = Categorical (2 groups)

Outcome variable = Quantitative (different populations)

### Wilcoxon Signed-Rank test

Replaces paired t-test

Predictor variable = Categorical (2 groups)

Outcome variable = Quantitative (groups from same population)